<ion-content class="ion-padding">
  <div class="otp-container">
    <h1 class="one">One Time</h1> 
    <h1 class="pin">PIN</h1>
    <p class="p">Your verification code was forwarded to your email address. Please check your email!</p>
    <div class="otp-inputs">
      <input type="text" maxlength="1" (input)="onInputChange(1, $event)" />
      <input type="text" maxlength="1" (input)="onInputChange(2, $event)" />
      <input type="text" maxlength="1" (input)="onInputChange(3, $event)" />
      <input type="text" maxlength="1" (input)="onInputChange(4, $event)" />
      <input type="text" maxlength="1" (input)="onInputChange(5, $event)" />
      <input type="text" maxlength="1" (input)="onInputChange(6, $event)" />
    </div>

    <button (click)="verifyOTP()" [disabled]="timerExpired" style="font-family:'Hubballi', sans-serif; font-size: 18px; font-weight: bold;">Verify</button><br>
    <div *ngIf="timerVisible">
      <p style="color: white;">Expires at: <strong style="color: yellow;">{{ minutes }}:{{ seconds }}</strong></p>
    </div>
    <button *ngIf="timerExpired" (click)="resendOTP()" style="font-family:'Hubballi', sans-serif; font-size: 16px; font-weight: bold;">Resend</button>
  </div>
</ion-content>
