<ion-content [fullscreen]="true" class="ion-content-center">
  <div class="header">
    <h1>Reset Password</h1>
    <p>The password should have at least 8 characters</p>
  </div>
  <div class="password">
    <p>New Password</p>
    <ion-input fill="outline" placeholder="Enter password" [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password">
    <ion-icon slot="end" [name]="passwordVisible ? 'eye' : 'eye-off'" (click)="togglePasswordVisibility('password')" style="color:#dddddd" required></ion-icon>
  </ion-input>
  </div>
  <div class="password">
    <p>Confirm Password</p>
    <ion-input fill="outline" placeholder="Confirm password" [type]="confirmPasswordVisible ? 'text' : 'password'" [(ngModel)]="confirmPassword">
    <ion-icon slot="end" [name]="confirmPasswordVisible ? 'eye' : 'eye-off'" (click)="togglePasswordVisibility('confirmPassword')" style="color:#dddddd" required></ion-icon>
  </ion-input>
  </div>
  <ion-button class="reset-but" (click)="resetPassword()">Reset Password</ion-button>
</ion-content>
