ion-content {
    --ion-background-color: linear-gradient(to bottom, #073965, #074276, #0F4C81, #155790, #1B609D);
  }

.ion-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .header {
    margin: 30% 5% 5% 5%;
    text-align: center;
  }

  .header h1{
    font-family: "Mulish", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #F4CE14;
  }

  .header p{
    font-family: 'Hubballi', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
  }
  
  .password p{
    font-family: "Mulish", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15%;
    margin-bottom: 1px;
    color: white;
  }

  ion-input {
    width: 70%;
    margin: auto; 
    display: flex;
    justify-content: center; 
    color: white;
    font-family: 'Hubballi', sans-serif;
    margin-bottom: 5%;
  }
  
  ion-input .input-wrapper {
    width: 100%; 
  }
  
  .reset-but{
        font-weight: 900;
        font-family: 'Hubballi', sans-serif;
        font-size: 15px;
        margin: 5% 22% 5% 22%;
        display: flex;
        justify-content: center;
        align-items: center;
      
      
        --background: #F4CE14;
        --background-hover: #2660a4;
        --background-activated: #2660a4;
        --background-focused: #2660a4;
        --color: #08415c;
        --border-radius: 10px;
  }
  