<ion-content [fullscreen]="true" class="page">
  <ion-button size="small" class="back-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
    Back
  </ion-button>

  <ion-button id="open-modal" expand="block" class="grade-card">S.Y {{currentYear}} - {{nextYear}}</ion-button>
  <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Grades for {{currentYear}} - {{nextYear}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content style="background-color:#696969;">
        <div *ngIf="isStudent && user.grades">
          <ion-card *ngFor="let grade of user.grades" class="subjects">
            <ion-card-header class="subject-name">
              {{ grade.subject_name }}
            </ion-card-header>
            <ion-card-content class="grading">
              <div style="display: flex; justify-content: space-between;">
                <p><strong>1st Quarter</strong></p>
                <p>......................................................................</p>
                <p><strong>{{ grade.first_grading }}</strong></p>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <p><strong>2nd Quarter</strong></p>
                <p>......................................................................</p>
                <p><strong>{{ grade.second_grading }}</strong></p>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <p><strong>3rd Quarter</strong></p>
                <p>......................................................................</p>
                <p><strong>{{ grade.third_grading }}</strong></p>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <p><strong>4th Quarter</strong></p>
                <p>......................................................................</p>
                <p><strong>{{ grade.fourth_grading }}</strong></p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
