ion-content {
  --ion-background-color: linear-gradient(to bottom, #073965, #074276, #0F4C81, #155790, #1B609D);
}

.back-button {
  font-family: 'Hubballi', sans-serif;
  position:absolute;
  top: 20px; 
  left: 1rem;
  margin: 10px;
  --border-radius: 10px;
  --background: linear-gradient(to top, #073965, #074276, #0F4C81, #155790, #1B609D);
}

.container{
  margin-top: 30%;
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.container h1{
  display: inline;
}

h6{
  font-family: 'Hubballi', sans-serif;
  color: white;
  text-align: center;
  margin:5%;
}

ion-input {
  width: 70%;
  margin: auto; 
  display: flex;
  justify-content: center; 
  color: white;
  font-family: 'Hubballi', sans-serif;
  margin-bottom: 5%;
}

ion-input .input-wrapper {
  width: 100%; 
}

ion-input:focus {
  border-color: rgb(24, 63, 24);
}

.submit{
  margin: auto; 
  display: flex;
  justify-content: center;  
  width: 20%; 
  font-family: 'Hubballi', sans-serif;
  font-weight: bold;
  --background: #F4CE14;
  --background-hover: #2660a4;
  --background-activated: #2660a4;
  --background-focused: #2660a4;
  --color: #08415c;
  --border-radius: 30px;
}