ion-content {
    --ion-background-color: linear-gradient(to bottom, #073965, #074276, #0F4C81, #155790, #1B609D);
  }

  .back-button {
    font-family: 'Hubballi', sans-serif;
    position:absolute;
    top: 20px; 
    left: 1rem;
    margin: 10px;
    --border-radius: 10px;
    --background: linear-gradient(to top, #073965, #074276, #0F4C81, #155790, #1B609D);
  }

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .container {
    width: 300px;
    text-align: center;
    background-color: white;
}

  .card-content {
    padding: 10px;
    background-color:white; 
  }

.forgot-button {
    font-family: 'Hubballi', sans-serif;
    font-size: 16px;
    padding: 15px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    --background: #1B609D;
    --border-radius: 30px;
  }

 h2{
    font-family: 'Hubballi', sans-serif;
    font-weight: 600;
 }

 p{
    font-family: 'Hubballi', sans-serif;
 }

 .input{
    text-align: left;
    font-family: 'Hubballi', sans-serif;
    font-size: 15px;
 }

