<ion-content [fullscreen]="true">
  <ion-button size="small" class="back-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
    Back
  </ion-button>
  
  <div class="center-container">
    <ion-card class="container">
      <div  class="card-content">
      <h2>Forgot Password</h2>
      <p>Please enter your Learner's Reference Number (LRN)</p>
        <ion-input class="input" placeholder="LRN" type="number"></ion-input>
      <ion-button class="forgot-button" (click)="forgot()">Submit</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>