<ion-content [fullscreen]="true">
  <ion-button size="small" class="back-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
    Back
  </ion-button>
  <div class="container">
    <div>
    <h1 style="color:white">FORGOT </h1>
    <h1 style="color:#ecbd03;"><strong>PASSWORD</strong></h1>
    </div>
    <h6 style="font-size: 14px;">To reset your password, please input the email address you used for registration.</h6>
  </div>
    <div>
      <ion-input fill="outline" placeholder="Enter email" [(ngModel)]="email"></ion-input>
      <ion-button class="submit" (click)="forgot()">Submit</ion-button>
    </div>
  
</ion-content>