<ion-content [fullscreen]="true">
  <ion-button size="small" class="back-button" (click)="back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
    Back
  </ion-button>
  <h1 class="announce">Notification</h1>
  <div>
    <ion-card class="event" *ngFor="let item of filterAnnouncements()">
      <ion-card-header class="head">
        <div class="header-content">
          <div><strong>{{ item.title }}</strong></div>
          <div class="post-date">{{ item.post_date | date:'mediumDate' }}</div>
        </div>
      </ion-card-header>
      <ion-card-content class="content">
        <div *ngIf="item.minimized">{{ item.message }}</div>
        <button ion-button (click)="toggleMinimized(item)" style="font-size: 11px; font-style: italic; font-weight: 500; color: #ffffff; background-color: transparent; border: none; outline: none;">
          {{ item.minimized ? 'Expand' : 'Show Less' }}
        </button>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="event" *ngFor="let item of filterEvents()">
      <ion-card-header class="head" >
        <div class="header-content">
          <div><strong>{{ item.title }}</strong></div>
          <div class="post-date">{{ item.start_datetime | date:'mediumDate' }} to {{ item.end_datetime | date:'mediumDate' }}</div>
        </div>
      </ion-card-header>
      <ion-card-content class="content">
        <div *ngIf="item.minimized">{{ item.description }}</div>
        <button ion-button (click)="toggleMinimized(item)" style="font-size: 11px; font-style: italic; font-weight: 500; color: #ffffff; background-color: transparent; border: none; outline: none;">
          {{ item.minimized ? 'Expand' : 'Show Less' }}
        </button>      
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card class="event" *ngIf="user && user.applicationStatus">
      <ion-card-header class="head">
        <div class="header-content">
          <strong>Application Status</strong>
        </div>
      </ion-card-header>
      <ion-card-content class="content">
        <div *ngIf="!user.applicationStatusMinimized">{{ user.applicationStatus }}</div>
        <button ion-button (click)="toggleApplicationStatusMinimized()" style="font-size: 11px; font-style: italic; font-weight: 500; color: #ffffff; background-color: transparent; border: none; outline: none;">
          {{ user.applicationStatusMinimized ? 'Expand' : 'Show Less' }}
        </button>
      </ion-card-content>
    </ion-card>
</div>
</ion-content>
