@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ion-content{
    --ion-background-color: #eaf7ff;
}

.back-button {
    font-family: 'Hubballi', sans-serif;
    position:absolute;
    top: 20px; 
    left: 1rem;
    margin: 10px;
    --border-radius: 10px;
    --background: linear-gradient(to top, #073965, #074276, #0F4C81, #155790, #1B609D);
}

.title{
    margin-top: 90px;
    text-align: center;
    font-family: 'Hubballi', sans-serif;
    font-size: 15px;
    color:073965;
}

.title h1{
    font-size: 25px;
    font-weight: 700;
    color: #073965;
}

.forms {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  .forms ion-item {
    margin: auto;
    font-size: 15px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
  
  .forms ion-input {
    width: calc(100% - 30px);
  }
  
  .input svg {
    margin-right: 15px; 
  }

  .forms-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
  }

  
.submit{
    display: flex;   
    justify-content: center;
    width: 15rem;
    --background: linear-gradient(to top, #073965, #074276, #0F4C81, #155790, #1B609D);

}
  
  

